body{
    margin: 0 auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;


}
#header{
    display: flex;
    
    align-items: center;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: lightblue;
    color: white;
    top: 0;
    position: fixed;
    padding: 0 30px;
    box-sizing: border-box; /*что б не расш */
    

}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}
.picture{
    width: 50px;
    height: 50px;
    text-decoration: none;
    display: block;
    margin-right: 15px;
    
}

.text{
    font-size:20px ;
    font-weight: bold;
    color: white;
    
}

.main{
    display: flex;
    
}

.items{
    margin: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
.items :last-child{
    margin-right: 0;
}
.items:hover{
    text-decoration: underline;
}

.login{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.login:hover{
    text-decoration: underline;
}

#hero{
    display: block;
    align-items: center;
    height: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
    background-color: darkblue;
}

.picture1{
    display: block;
    text-decoration: none;
    width:75% ;
    height: 700px;
    margin: 0 auto;
    
    
}
.wrapper{
    display: flex;
    align-items: center;
    margin-top:20px ;
    justify-content: center;
    gap: 50px;
}

.btn{
    padding: 30px 60px;
    margin: 0px 60px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    text-align: center;
    text-decoration: dotted;
    border-radius: 8px;
    height: auto;
    color: black;
    background-color: white;
    
}

.btn option{
    background-color: white;
    color: black;
}


#news{
   display: block;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin: 0 auto;
   box-sizing: border-box;
   background-color: lightblue;
   height: 600px; 
   padding: 30px;
}

.nameing{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.imagess{
    display: flex;
    gap: 15px;
    float: right;

}
.picture2{
    display:inline-block;
    text-decoration: none;
    margin: 0 15px;
}

#aboutus{
    display: flex;
    align-items: center;
    width: 100%;
    height: 500;
    background-color: darkblue;
    box-sizing: border-box;
    margin: 0 auto;
    
}
.imaggges{
    float: right;
    display: flex;
    margin-left: 15px;
}

.picture3{
    border-radius: 4px;
}

.texxt{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    color: white;
    margin: 10px;

}